@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --background: 32, 32, 34;
  --secondary-background: 22, 22, 22;
  --tertiary-background: #191919;
  --quartiary-background: #0f0f0f;
  --foreground: 220, 220, 220;
  --secondary-foreground: #727272;
  --box-shadow:0px 0px 1px .5px rgba(255, 255, 255, .5);
  --border-color: rgba(95, 95, 95, 0.5);
  --box-shadow-two:0px 0px 25px 1px rgba(0, 0, 0, 0.15);
  --font-one: 'Roboto', sans-serif;
  --max-width: 1600px;
}

.mask {
  position: absolute;
  height: 0;
  width: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-one);
}

form > * {
  font-size: 15px;
  font-weight: bold;
  outline: none;
}

html,
body {
  overflow-x: hidden;
}

body > div {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto min-content !important;
  grid-template-columns: auto min-content !important;
  grid-template-areas: 
    'page-main page-nav'  
    'page-footer page-footer' 
  !important;
  color: rgb(var(--foreground));
  background-color: transparent !important;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, var(--quartiary-background) 0%, var(--tertiary-background)) !important;
  @media screen (max-width: 1280px) {
    grid-template-areas: initial !important;
  }
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  font-family: var(--font-one);
}

h2 {
  font-size: 30px !important;
  margin: 3em 0;
}

h3 {
  font-size: 18px !important;
  margin-bottom: .5em;
}

input {
  font-size: 15px;
}

.github-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.github-profile > span {
  font-weight: bolder;
  font-size: 13.3333px;
}

.github-profile > span, .github-profile > svg > * {
  font-weight: bolder;
  color: #ffffff;
  stroke: #ffffff;
}