@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --background: 32, 32, 34;
  --secondary-background: 22, 22, 22;
  --tertiary-background: #292929;
  --foreground: 220, 220, 220;
  --font-one: 'Roboto', sans-serif;
  --max-width: 1600px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-one);
}

form > * {
  font-size: 15px;
  font-weight: bold;
  outline: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  font-family: var(--font-one);
}

h2 {
  font-size: 30px;
}
h3 {font-size: 18px !important;}

input {
  font-size: 15px;
}
