.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.listmangas {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}