@import url("./components.module.css");

.aside {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  gap: 15px;
  background-color: rgb(51, 51, 51);
}


.abouttext > h2 {
  font-family: var(--font-one);
  margin: 50px 0px;
  text-align: center;
}

.abouttext > p {
  font-family: var(--font-one);
  margin: 0 auto;
  max-width: 700px;
  text-align: justify;
  font-size: 20px;
  text-indent: 40px;
  line-height: 60px;
}


@media(max-width:700px) {
  .abouttext {
    padding: 10px;
  }
  .abouttext > p {
    min-width: 0px;
    margin: 10px;
  }
}

@media(min-width:700px) {
  .abouttext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.pagelogin {
  min-height: 100vh;
}

.pagelogin > .containerform {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 400px;
  width: 100%;
  background-color: #333333;
  padding: 50px 35px;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-one);
}

form > .inputlabel > input {
  font-weight: bold;
  font-family: var(--font-one);
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

form > .inputlabel > label {
  font-family: var(--font-one);
  font-weight: bold;
  border: none;
}

form > .inputlabel {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.pagelogin > .containerform > form > input[type="button"] {
  padding: 8px 16px;
  border-radius: 30px;
  border: none;
  background-color: #1d1d1d;
  color: white;
  font-weight: bold;
  font-family: var(--font-one);
  font-size: 15px;
}

.pagelogin > .containerform > form {
  display: flex !important;
  flex-direction: column !important;
  gap: 45px;
  align-items: center;
}

.pagelogin > .backbtn {
  background-color: rgb(185, 185, 185);
  border-radius: 30px;
  padding: 12px 30px;
  display: inline-block;
  margin: 15px;
  text-align: center;
}

.pagelogin > .backbtn > a {
  text-decoration: none;
  color:  rgb(0, 0, 0);
  font-family: var(--font-one);
  font-weight: bold;
  font-size: 18px;
}

.profilepage > main {
  padding: 50px;
}

.profilepage > main > div > form {
  display: grid;
  grid-template-columns: 260px auto min-content;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    'booknameinputandlabel bookdescriptiontextarea .'
    'bookcategoryselect bookdescriptiontextarea addbookbutton'
    'selectedimages selectedimages selectedimages'
  ;
  gap: 20px;
}

.profilepage > main > div > form > input[type="button"] {
  padding: 8px 16px;
  border-radius: 30px;
  border: none;
  background-color: #1d1d1d;
  color: white;
  font-weight: bold;
  font-family: var(--font-one);
  font-size: 15px;
  grid-area: addbookbutton;
}

.profilepage > main > div > form > * {
  font-family: var(--font-one);
  font-size: 15px;
  font-weight: bold;
  outline: none;
}

.profilepage > main > div > form > textarea {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  grid-area: bookdescriptiontextarea;
}

.profilepage > main > div > form > input[type="file"] {
  display: none;
}

.listselectedimages > li {
  height: 20vh;
  flex-grow: 1;
  border-radius: 1.25vh;
}

.listselectedimages > li > img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.listselectedimages {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5vh;
  grid-area: selectedimages;
}

.listselectedimages > label[for="bookimagesinput"] {
  width: 15vh;
  min-height: 20vh;
  min-width: 16vh !important; 
  grid-area: imageselectionbutton;
  background-color: white;
  border-radius: 1.25vh;
  object-fit: cover;
  vertical-align: bottom;
  color: #1d1d1d;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
}


.profilepage > main > div > form > .inputlabel {
  grid-area: booknameinputandlabel;
}