@import url("./components.module.css");

.header {
  background-color: rgb(51, 51, 51);
}

.header > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-one);
  font-size: 15px;
  color: white;
}

.header > ul > li > a > .logoimg {
  width: 80px;
}

.aside {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  gap: 15px;
  background-color: rgb(100, 100, 100);
}

.aside > .inputicon {
  align-items: center;
  display: flex;
  gap: 10px;
  font-size: 25px;
}

.aside > .inputicon > input {
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  font-family: var(--font-one);
  background-color: rgb(51, 51, 51);
  color: white;
  min-width: 250px;
  outline: none;
}

.aside > .inputicon > svg > * {
  color: rgb(51, 51, 51);
}

.title {
  font-size: 18px;
  font-family: var(--font-one);
}

.mangaarticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  min-width: 183px;
  min-height: 163px;
}

.list_mangas {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 50px;
  padding: 100px;
  max-width: 1280px;
  margin: 0 auto;
}

.imagelist {
  display: flex;
}

.imagelist > li:nth-child(1) > .image {
  background-color: rgb(194, 194, 194) !important;
  transform: translateX(-14px) scale(.9)
}
.imagelist > li:nth-child(2) > .image {
  background-color: white !important;
  transform: translateX(-55px) scale(1);
  z-index: 5;
}
.imagelist > li:nth-child(3) > .image {
  background-color: rgb(87, 87, 87) !important;
  transform: translateX(-95px) scale(.95);
}

.image {
  min-width: 110px;
  min-height: 110px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: absolute;
  border-radius: 10px;
}

.mangaoptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  gap: 5px;
}

.mangaoptions > li > button {
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.mangaoptions > li > button > svg * {
  color: white;
  stroke: white;
}

.abouttext {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.abouttext > h2 {
  font-family: var(--font-one);
  margin: 50px 0px;
  text-align: center;
}

.abouttext > p {
  font-family: var(--font-one);
  margin: 0 auto;
  width: 700px;
  text-align: justify;
  font-size: 20px;
  text-indent: 40px;
  line-height: 60px;
}

@media(max-width:680px) {
  .list_mangas {
    padding: 10px;
  }
}